Checks: '*,-llvm-header-guard,-llvm-include-order,-fuchsia-overloaded-operator^,-misc-non-private-member-variables-in-classes,-cppcoreguidelines-non-private-member-variables-in-classes,-modernize-use-trailing-return-type,-google-runtime-references,-fuchsia-default-arguments-declarations,-readability-uppercase-literal-suffix,-hicpp-uppercase-literal-suffix,-fuchsia-default-arguments-calls'
